.SignUpContainer{
    height: 100vh;
    width:100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUpHolder{
    width: 350px;
    height: 65%;
    background: peru;
    /* background: teal; */
    padding: 5px;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 15px;

}
.signUpText{
    width: 95%;
    height: 12%;
    /* background: green; */
    display: flex;
    align-items: center;

    & h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 33px;
        font-weight: 500;
        color: white;
    }
}
.inputHolder{
    height: 40%;
    width: 95%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;

    & input{
        height: 35%;
        width: 97%;
        border: none;
        outline: none;
        padding-left: 10px;
        font-size: 13px;
        border-radius: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
}
button{
    height: 30%;
    width: 100%;
    background: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    color: white;
    border: none;

    &:hover{
    background-color: rgb(128, 93, 5);
    color: white;
    /* transform: scale(1.05); */
    }
}
.passWordHolder{
    height: 30%;
    width: 98.5%;
    border: none;
    outline: none;
    /* padding-left: 10px; */
    font-size: 13px;
    border-radius: 5px;
    background-color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
   gap: 10px;
   padding-right: 5px;

    & input{
        height: 100%;
        width: 90%;
    }
}