.Hero-Body{
    width: 100%;
    height: 43vh;
    background: url(https://d1ralsognjng37.cloudfront.net/e204daa2-abd6-4b7c-b46a-5f03e3b09469.jpeg);
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}